# Para instalar estos paquetes usar este comando:
# pip install -r requirements.txt
streamlit==1.32.2
opencv-python-headless==4.9.0.80
numpy
spectral==0.23.1
hydralit==1.0.14
pandas==2.0.3
scikit-image==0.24.0
streamlit_image_zoom==0.0.3